@model Ecommerce.Models.ViewModels.FornecedorViewModel

<form action="~/Fornecedor/Alterar/@ViewBag.Fornecedor.Id" method="post">

    <h2 style="color:white;" class="text-uppercase">Editar Usuário</h2>

    <div style="color:white;" class="panel panel-default">
        <div class="panel-body">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="nome" class="control-label text-uppercase">Nome da Empresa</label>
                    <input autofocus type="text" value="@ViewBag.Fornecedor.NomeEmpresa" class="form-control" id="nomeEmpresa" name="FornecedorViewModel.NomeEmpresa" placeholder="Digite o nome da empresa" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="sobrenome" class="control-label text-uppercase">Nome</label>
                    <input type="text" value="@ViewBag.Fornecedor.Nome" class="form-control" id="nome" name="FornecedorViewModel.Nome" placeholder="Digite seu Nome" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="cpf" class="control-label text-uppercase">CPF</label>
                    <input type="text" value="@ViewBag.Fornecedor.CPF" class="form-control" id="cpf" name="FornecedorViewModel.CPF" placeholder="Digite seu CPF" required>
                </div>
            </div>      

            <div class="col-md-4">
                <div class="form-group">
                    <label style="opacity:0;">conselho</label><br />
                    <input type="submit" value="CADASTRAR"
                           class="btn btn-success enviar" />
                </div>
            </div>

        </div>
    </div>

</form>