@{
    ViewBag.Title = "Sobre";
}
<h2 style="color:white;">Sobre</h2>


<p>
    A loja virtual oferece itens de moda, como roupas, voltados para pessoas elegantes e modernas,
    com produtos acessíveis online, a partir da comodidade e conforto de sua casa. Vamos surpreender 
    em cada parte de seu relacionamento conosco, desde a navegação no site, a escolha dos produtos, o processo de compra,
    a expectativa do recebimento, ou mesmo, a surpresa por ser atendida como uma pessoa única e a felicidade de usar uma peça
    que parece feita para você.
</p>

<p>
    Faça sua Escolha. Navegue em nosso catálogo. Porque você também é <b>OurVibbe</b>!
</p>
