@{
    ViewBag.Title = "Contato";
}

<h3 style="color:white;">Fale Conosco</h3>

<address style="color:white;">
    Av. Alziro Zarur, 73 - Vila Vardelina, Maringá - PR, 87080-590<br />
   <br />

</address>

<address style="color:white;">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">OurVibbe@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">OurVibbe@example.com</a>
</address>