@model List<Ecommerce.Models.Produto>

<div class="banner-wthree-info container" style="background-color: black; margin: 0;">
    <div class="row" style="background-color: black;">
        <div class="col banner-left-info">
            <h3>Make your <span>Choice</span></h3>
            <a href="/FrenteLoja/Index" class="btn shop">Compre Aqui</a>
        </div>

        <div class="col-lg-7 banner-img">
            <img src="~/Content/images/ourvibbe.png.png" />
        </div>
    </div>
</div>



